body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.produto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 200px;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.produto p {
    color: #888;
    font-size: 1rem;
}

.produto .detalhes {
    background-color: #333;
    color: white;
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.detalhe-produto {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.detalhe-produto img {
    max-width: 300px;
    height: auto;
}



footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}